{% extends "base.html" %}



{% block content %}

    <!-- *** Section 1 *** --->
    <div class="container">
        <div class="row">
            <a class = "btn btn-success btn-lg" href = "{{ url_for('dash_pdf') }}" role = "button">PRESS TO EXPORT TO PDF</a>
            <h2>{{ vendor_name }}</h2>
            <!-- <h3>INSPECTIONS, REPAIRS & PROJECT SAVINGS</h3> -->
            <div class="col-md-8">
                <iframe width="550" height="500" frameborder="0" seamless="seamless" scrolling="no" \
                    src={{ dash_list[0] }}.embed?width=600&height=500"></iframe>
            </div>
            <div class="col-md-4">
                <br><br><br><br><br>
                <h4>Inspections:</h4>
                <ul>
                    <li>Number of inspections: {{ dash_list[1] }}</li>
                    <li>Total made from inspections: {{ dash_list[3] }}</li>
                    <li>Average invoice per inspection: {{ dash_list[4] }}</li>
                </ul>
                <h4>Managed Work:</h4>
                <ul>
                    <li>Number of managed works: {{ dash_list[5] }}</li>
                    <li>Total made from managed works: {{ dash_list[7] }}</li>
                    <li>Average invoice per managed work: {{ dash_list[8] }}</li>
                </ul>
                <h4>Total made from BPW:</h4>
                <ul>
                    <li>Number of jobs done: {{ dash_list[9] }}</li>
                    <li>Total made from jobs: {{ dash_list[10] }}</li>
                </ul>
            </div>
            <div class="col-md-12">
                <iframe width="1000" height="500" frameborder="0" seamless="seamless" scrolling="no" \
                src={{ dash_list[11] }}.embed?width=1000&height=500"></iframe>
            </div>
            <div class="col-md-8">
                <iframe width="600" height="450" frameborder="0" seamless="seamless" scrolling="no" \
                src={{ dash_list[12] }}.embed?width=600&height=450"></iframe>
            </div>
        </div>
    </div>
{% endblock %}